* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Lato", sans-serif;
}
h1,
h2,
h3 {
  color: rgb(58, 57, 57);
}
@import "./player";
@import "./songs";
@import "./library";
@import "./nav";
